button {
	margin: 10px;
}

#single_slider {
	margin-left: 4em;
	margin-right: 4em;
}

#processing {
	font-style: italic;
	font-size: 0.75em;
}

.evidence{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}

#response {
	size: 10;
}

.query{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}

.err{
	color: red;
}

.slide {
	width: 800px;
	height: 600px;
	border: solid black 1px;
	position: relative;
}

.progress {
	top: 570px;
	right: 450px;
}

.prompt {
	padding-top: 100px;
}

.query {
	padding-top: 50px;
}

.long_form > p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#subj_info > .long_form > .radio-inline > label {
	padding: 0em 0em;
}

.escape {
	font-size: 0.5em;
}

#feedback {
	width: 100px;
}